@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 8 8 10;
  --fg: 245 245 245;
}

html, body {
  height: 100%;
}

body{
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

/* subtle grain */
.grain:before{
  content:"";
  position:absolute;
  inset:0;
  pointer-events:none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='140' height='140' filter='url(%23n)' opacity='.18'/%3E%3C/svg%3E");
  mix-blend-mode: overlay;
  opacity:.35;
}
